body {
  padding: 0;
  margin: 0;

  background-image: url(Pictures/treepattern.jpg);
  background-repeat: repeat;
}

.logo {
  height: 30px;
  width: 30px;
}

.nav-item {
  font-weight: bold;
}
.navbar {
  background: #885a5a;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 10em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.description {
  left: 50%;
  position: absolute;
  top: 8300%;

  transform: translate(-50%, -55%);
  text-align: left;
}
.description h1 {
  color: #b48383;
  font-family: "Mountains of Christmas", cursive;
  text-align: center;
  font-size: 120px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

h3 {
  color: #b48383;
  font-family: "Mountains of Christmas", cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.impressum {
  color: #000;
  background-color: #cae7c1;
  border: 5px solid #885a5a;
}

.row {
  background-color: white;
  border: 5px solid #dc136c;
}

.feature-title {
  border: 5px solid #885a5a;
  font-weight: normal;
  background-color: #cae7c1;
}

.feature-title2 {
  border: 0px;
  font-weight: normal;
}

.cake {
  height: 400px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #885a5a;
}

img {
  height: 400px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #885a5a;
}

.recipe-title {
  font-weight: bold;
  text-align: center;
}
